.footer {
  background: #000;
  color: white;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.3;
  max-width: 32ch;
  color: #ccc;
}

.footer-copy {
  color: #666;
}

.footer-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.footer-contato li {
  font-size: 1.5rem;
}

.footer-contato li a {
  color: white;
}

.footer-contato li a:hover {
  color: #6961d7;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
