body {
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.strong-roxo {
  color: #6961d7;
}

.strong-branco {
  color: white;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all; /*quebra  a palavra*/
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch; /* quando estiver bem espaçada irá quebrar com 4 caracteres */
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important; /* valor inicial */
  }
}
