.header {
  max-width: 1200px; /* o conteúdo cresce no máx até 1200px*/
  padding: 40px 20px;
  margin: 0 auto; /* alinha ao centro */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block; /*para aplicar direito os valores do padding */
}

@media (max-width: 800px) {
  .header {
    flex-direction: column; /* alinha os itens como coluna */
    gap: 40px;
    padding: 20px;
  }

  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}
